{% extends 'base.html' %}

{% block content %}

<div class="dashboard-header">

    <div>
        <p class="small-title">
            VOLUNTEER / NGO
        </p>

        <h1>
            Welcome, {{ user.username }}
        </h1>

        <p>
            Help collect and distribute surplus food.
        </p>
    </div>

    <a
        href="{% url 'available_donations' %}"
        class="btn"
    >
        Find Food
    </a>

</div>


<div class="stats">

    <div class="stat-card">

        <h3>
            {{ donations.count }}
        </h3>

        <p>
            My Claimed Donations
        </p>

    </div>

</div>


<h2>
    My Claimed Donations
</h2>


<div class="donation-grid">

    {% for donation in donations %}

        <div class="donation-card">

            <div class="card-top">

                <h3>
                    {{ donation.food_name }}
                </h3>

                <span class="status">
                    {{ donation.status|title }}
                </span>

            </div>

            <p>
                🍱 {{ donation.quantity }} meals
            </p>

            <p>
                📍 {{ donation.pickup_location }}
            </p>

            <p>
                ⏰ {{ donation.available_until }}
            </p>

        </div>

    {% empty %}

        <div class="empty">

            <h3>
                No claimed donations
            </h3>

            <p>
                Find available food and claim a donation.
            </p>

            <br>

            <a
                href="{% url 'available_donations' %}"
                class="btn"
            >
                Find Available Food
            </a>

        </div>

    {% endfor %}

</div>

{% endblock %}